*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:white;
    padding: 0 60px;
    margin-top: 40px;
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    align-items: center;
    
}

.navbar button{
    border: none;
    background-color: blue;
    color: white;
    padding: +;
}
.menu-list{
    display: flex;
    gap: 80px;
    list-style-type: none;

}


